# --- PYTHON / BACKEND ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.env

# Banco de Dados (Não subir o arquivo local!)
*.db
*.sqlite3

# --- NODE / FRONTEND ---
node_modules/
.next/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- IDE (JetBrains/PyCharm) ---
.idea/
.vscode/
*.swp

# --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db